<section class="signin-page auth-page">
   <h2>Welcome Back</h2>

   <p>We are happy to have you back, awesome contributor.</p>
   <div>
     <input type="hidden" class="signin-hiddenInput" value="<%= csrfToken %>" style="display:none" />
     <button class="auth-button" aria-label="signup using google">Login</button>
     <img src="/images/google-icon.svg" alt="Google Icon" />
   </div>
</section>