<section class="signup-page auth-page">
  <h2>Sign Up</h2>
  <p>Join the group of ancient facts lovers and contribute to inspire</p>
  <span>Share your world's best facts</span>
  <p class="warning">Be sure to research more about what you read</p>
  
  <div>
    <input type="hidden" class="signup-hiddenInput" value="<%= csrfToken %>" style="display:none" />
    <button class="auth-button" aria-label="signup using google">Create Account</button>
    <img src="/images/google-icon.svg" alt="Google Icon" />
  </div>
</section>