<footer>
   <nav>
      <ul>
         <li>
            <a href="/facts">Facts</a>
         </li>
         <li>
            <a href="/facts/new">Add A Fask</a>
         </li>
      </ul>
   </nav>
   <p>Please ensure to browse more about what you read, because we do not review posts</p>
   <p>Also, Do not spam anyone through there gmail</p>
   <span>Copyright &copy; 2023</span>
</footer>