<% const [localPart, domainPart] = factDetails.contributor.email.split('@');
   const hiddenLocalPart = localPart.replace(/(?<=.{5})./g, '*');
   const hiddenEmail = `${hiddenLocalPart}@${domainPart}`;
%>

<div class="fact-contributor-details">
   <p aria-label="Fact Writer Name">
      <input type="hidden" value="<%= userDetails.name %>" id="user-name" />
      <%= factDetails.contributor.name === userDetails.name ? "You" : factDetails.contributor.name %>
   </p>
   <p aria-label="Fact Writer Email"><%= hiddenEmail %></p>
</div>