<section class="homepage">
   <main>
      <div>
         <h2>Share Short Ancient Facts And Mysteries</h2>
         <p>Explore the legends and myths of the world</p>
   
         <div class="links-container">
            <a href="/facts/new">Add New Fact</a>
            <a href="/facts?top=true">See Top Facts</a>
         </div>
      </div>
      <div class="illustration-image-container">
         <img src="/images/illustration-image.jpg" alt="to men in customs" />
      </div>
   </main>
</section>