.auth-page{
   border:1px solid rgb(231, 225, 225);
   width:90%;
   margin: 1em auto;
   border-radius:10px;
   padding-block:5em; 
}

.auth-page h2{
   font-size:1.7rem;
   margin-block:1em;
   border-bottom:3px dotted hsl(180, 86%, 42%);
   width:4em;
}

.warning{
   color: rgb(207, 22, 22);
   font-size:.88rem;
   margin-top:3em;
}

.auth-page p{
   margin-block:1em;
}

.auth-page button{
   border-radius:10px;
   padding:.8em 1em;
   width:10em;
   color: hsl(0, 0%, 98%);
   font-size:.96rem;
   display:block;
   margin-block:3em;
   background-color:hsl(180, 89%, 28%);
   transition:.3s linear;
}

.auth-page button:focus,
.auth-page button:hover{
   border:1px solid hsl(180, 83%, 30%);
   color: black;
   background:transparent;
}

.auth-page div{
   display:flex;
   justify-content: center;
   gap:1em;
   align-items:center;
}

.auth-page div img{
   width:5em;
   display:block;
   aspect-ratio:1/1;
}


@media (min-width:60rem){
   .auth-page h2{
      font-size: 2rem;
   }

   .auth-page p{
      font-size:1.1rem;
   }

   .auth-page div{
      justify-content: flex-start;
      gap:1em;
   }
}